
body {
    background-image: url("../images/background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
nav {
    height: 30px;
    line-height: 30px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 30px;
        line-height: 30px;
    }
}

.h4-own {
    align-content: center;
    font-weight: bold;
}


.collection-own {
    border: none;
}

.collection-own .collection-item-own {
    background-color: white;
    border-bottom: none;
}

.collection-own .collection-item-own i {
    margin-right: 25px;
    display: block;
    float: left;
    color: #42a5f5;
}

th, td {
    font-size: 12px;
    text-align: center;
    padding: 8px;
}


/* label color */
.input-field label {
    color: #000;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #42a5f5 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #42a5f5 !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
}